.input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text_input {
  border: 1px solid transparent; /* Estilo de borde predeterminado */
  padding: 8px;
  transition: border-color 0.3s ease; /* Transición suave al cambiar el color del borde */
  font-size: 20px;
}

.text_input:focus {
  outline: none; /* Quita el borde de enfoque predeterminado */
  border-color: #ccc; /* Cambia el color del borde al enfocar */
}

.submit_button {
  background: none;
  color: #333;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .review_form {
    margin-left: 10px;
  }

  .text_input {
    font-size: small;
  }
}
