.pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .pages button {
    margin: 20px 5px;
    border: solid 1px #333;
    color: #333;
    background: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
  }