.footterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #333;
  height: 70px;
  margin-top: 50px;
}

.iconZone {
  display: flex;
  width: 150px;
  justify-content: space-around;
  align-items: center;
}
