.container {
  display: flex;
  flex-direction: row;
  border: solid red;
}

.productList {
  max-height: 500px;
  overflow-y: auto;
}

/* Estilos generales de la barra de desplazamiento */
.productList::-webkit-scrollbar {
  width: 3px; /* ancho de la barra de desplazamiento */
}

.productList::-webkit-scrollbar-thumb {
  background-color: #888; /* color del thumb (el "mango" de la barra) */
  border-radius: 6px; /* bordes redondeados */
}

.productList::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* color del fondo de la barra de desplazamiento */
}

/* Estilos específicos para Firefox */
.productList {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.form {
  display: flex;
  width: 150px;
  border: soldi red;
}
