.deleting {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5); /* Color oscuro con transparencia */
  z-index: 2;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0px 30px;
}

.myTab {
  list-style: none;
  padding: 0;
  display: flex;
  margin-bottom: 0px;
}

/* .navItem { */
/* border: solid 1px red;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
/* } */

.navLink {
  background-color: #333;
  color: #f0f0f0;
  border: solid #333;
  padding: 8px 26px;
  cursor: pointer;
  outline: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.active {
  background-color: #f0f0f0;
  color: #333;
  border-top-color: solid 1px#333;
  border-right-color: solid 1px#333;
  border-left-color: solid 1px #333;
  border-bottom-color: #f0f0f0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.myTabContent {
  margin-top: 0px;
  height: 550px;
  overflow-y: auto;
}

/* Estilos generales de la barra de desplazamiento */
.myTabContent::-webkit-scrollbar {
  width: 5px; /* ancho de la barra de desplazamiento */
}

.myTabContent::-webkit-scrollbar-thumb {
  background-color: #888; /* color del thumb (el "mango" de la barra) */
  border-radius: 6px; /* bordes redondeados */
}

.myTabContent::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* color del fondo de la barra de desplazamiento */
}

/* Estilos específicos para Firefox */
.myTabContent {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.tabPane {
  display: none;
  padding: 20px;
  border-radius: 4px;
}

.create_button {
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  padding: 15px;
  cursor: pointer;
}

.active.tabPane {
  display: block;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0px;
  }

  .myTabContent {
    height: 700px;
  }
}
