.container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #888;
  margin: 0px 60px;
}

.buttons {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.carrouselButton {
  margin: 0px 10px;
  z-index: 1;
  border: solid 1px #888;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: large;
  cursor: pointer;
  color: #333;
  padding: 0px 10px;
  height: 200px;
}

.carrouselButton:hover {
  backdrop-filter: blur(10px);
}

.carrousel {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  flex-wrap: nowrap;
  scroll-snap-type: x proximity; /* Hace que el desplazamiento sea más suave */
  -webkit-overflow-scrolling: touch; /* Agrega desplazamiento suave en iOS */
  transition: scroll-snap-align 0.3s ease-in-out; /* Agregada transición suave */
}

/* Estilos generales de la barra de desplazamiento */
.carrousel::-webkit-scrollbar {
  height: 5px; /* ancho de la barra de desplazamiento */
}

.carrousel::-webkit-scrollbar-thumb {
  background-color: #333; /* color del thumb (el "mango" de la barra) */
  border-radius: 6px; /* bordes redondeados */
}

.carrousel::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* color del fondo de la barra de desplazamiento */
}

/* Estilos específicos para Firefox */
.carrousel {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.products {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0px;
  }

  .carrousel {
    height: 300px;
    width: 100%;
  }

  .buttons {
    display: none;
  }
}
