.navBar {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
}

.logo_container {
  display: inline;
  justify-content: center;
  padding: 10px;
  margin-left: 10px;
}

.logo {
  width: 150px;
}

.nav_elements {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav_elements input {
  width: 600px;
  height: 30px;
  padding-left: 10px;
  border: solid gray 1px;
  outline-color: #4d4d4d;
  font-size: large;
  margin-left: 10px;
}

.searchList {
  position: absolute;
  border: solid red;
  background-color: #fff;
  margin-left: 10px;
  width: 600px;
}

.cart {
  display: flex;
  margin: 0px 30px;
  cursor: pointer;
}

.cart span {
  border-radius: 50%;
  padding: 0px 5px;
  background-color: red;
  height: 50%;
  color: #fff;
  position: relative;
  top: -10px;
  right: 12px;
}

.login_button {
  margin-right: 40px;
  height: 50px;
  width: 80px;
  cursor: pointer;
  background-color: white;
  border: solid 1px rgb(206, 204, 204);
  border-radius: 10px;
}

.profileImg {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 40px;
}

.profileImg img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
  cursor: pointer;
}

.list_container {
  position: absolute;
  left: -50px;
}

.list {
  position: absolute;
  background-color: white;
  list-style-type: none;
  margin-top: 5px;
  border: solid 1px rgb(206, 204, 204);
  justify-content: center;
  padding: 0px;
  z-index: 1;
  border-radius: 5px;
}

.totalContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #333;
}

.totalContainer button {
  color: #fff;
  width: 100px;
  height: 40px;
  align-self: center;
  border: none;
  background-color: #333;
  border-radius: 10px;
  margin-right: 10px;
}

.total {
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}

.total h3 {
  position: relative;
  margin-left: 5px;
  bottom: 0px;
}

.list ol {
  padding: 0;
  margin: 0;
  padding: 10px;
  cursor: pointer;
}

.list ol:hover {
  background-color: rgb(206, 204, 204);
}

.products {
  position: absolute;
  background-color: white;
  list-style-type: none;
  margin-top: 5px;
  border: solid 1px rgb(206, 204, 204);
  padding: 0px;
  z-index: 1;
  border-radius: 5px;
  overflow-y: auto;
  max-height: 500px;
  width: 40%;
}

.products ol {
  padding-inline-start: 0px;
}

.products ol:hover {
  background-color: rgb(241, 241, 241);
}

/* Estilos generales de la barra de desplazamiento */
.products::-webkit-scrollbar {
  width: 3px; /* ancho de la barra de desplazamiento */
}

.products::-webkit-scrollbar-thumb {
  background-color: #888; /* color del thumb (el "mango" de la barra) */
  border-radius: 6px; /* bordes redondeados */
}

.products::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* color del fondo de la barra de desplazamiento */
}

/* Estilos específicos para Firefox */
.products {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

@media screen and (max-width: 768px) {
  .navBar {
    flex-direction: column;
  }

  .logo_container {
    margin-left: 5px;
  }

  .logo {
    width: 70px;
  }

  .nav_elements input {
    width: 200px;
    margin-top: 10px;
  }

  .cart {
    margin: 0px 0px 0px 10px;
  }

  .profileImg {
    width: 40px;
    height: 40px;
    margin: 10px 20px 10px 0px;
  }

  .login_button {
    margin-left: 20px;
    height: 40px;
    width: 70px;
  }

  .products {
    margin-top: 40px;
    margin-left: -100px;
    width: 240px;
  }

  .totalContainer button {
    width: 60px;
    height: 30px;
    border-radius: 5px;
  }

  .total h2 {
    font-size: larger;
  }

  .total h3 {
    font-size: medium;
  }
}
