.container {
  display: flex;
  color: #333;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}

.container button {
  cursor: pointer;
  background: none;
  border: none;
  margin-right: 10px;
}

.info h5 {
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el contenido que no cabe en el contenedor */
  text-overflow: ellipsis; /* Agrega puntos suspensivos al final del texto cortado */
  max-width: 250px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 100%;
  margin: 0px 10px;
}

.imageContainer img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .container {
    height: 90px;
  }
  .imageContainer {
    width: 50px;
  }

  .info h5 {
    font-size: small;
    max-width: 100px;
  }
}
